/Merge2sortedArrays.class
/buyandsellstocksone.class
/cyclicShifting.class
/duplicateElement.class
/findallduplicates.class
/findarrayintersection.class
/longestconsecutivesubsequence.class
/maxSubarraySum.class
/maxmin.class
/maxprodsubarray.class
/movezerostoright.class
/prac1.class
/reverse.class
/separate01.class
/sortedandrotated.class
/subarraywithsum0.class
/sumOfArrays.class
/swapalternate.class
/uniqueElement.class
