/DecimalToBinary.class
/KNights.class
/KeyPad.class
/MaxInArray.class
/MazePatth.class
/PrintArrayElements.class
/ReverseANumber.class
/Xpown.class
/basic.class
/fibonacci.class
/floodFill.class
/getStairPath.class
/nQueen.class
/palindrome.class
/permutation.class
/reverseAnArary.class
/reverseString.class
/subsequence.class
/sumOfN.class
/targetSumSubset.class
