/KokoEatingBananas.class
/KthmissingNumber.class
/MinimumdaysToMakeMBouquetsBrute.class
/MinimumdaystoMakeMBouqueteOptimal.class
/NthrootofM.class
/Smallestdivisor.class
/shipPackageswithinDdays.class
/squareRoot.class
