/Anagram.class
/Basic.class
/Duplicate.class
/Isomorphic.class
/LargestOddNumInString.class
/LongestCommonPrefix.class
/Palindrome.class
/PrintingSubstring.class
/Reverse.class
/RotationOfOther.class
/removeOutermostParenthesis.class
/reverseWordInStrings.class
